spring:
  application:
    name: backendguru

  datasource:
    url: jdbc:h2:file:./data/coffeemachine-db;AUTO_SERVER=TRUE
    username: sa
    password:


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

# opsiyonel
server:
  port: 8080
